if paginator.totalPages > 1
  ul.pagination
    if !paginator.onFirstPage()
      li.pagination__button
        a.pagination__link.button.button--backwards(href=paginator.previousPageUrl())
    - for (let item of paginator.items)
        if typeof item === `string`
          li.pagination__item.pagination__item--disabled(aria-disabled=true)
            span.pagination__link #{item}
          - continue
        if item.value === paginator.currentPage
          li.pagination__item.pagination__item--active
            span.pagination__link #{item.value}
        else
          li.pagination__item
            a.pagination__link(href=item.url) #{item.value}
    if paginator.hasMorePages()
      li.pagination__button
          a.pagination__link.button.button--forward(href=paginator.nextPageUrl())
