extends ../layouts/main.pug

block variables
  - let mainClass = `main-page main-page--padding`

block content
  section.main-page__category.category
    h1.category__title Категории
    if errors && errors.create
      .category__add-form.category__add-form--invalid
        form(action='/categories' method='POST')
          input(type=`hidden` name=`_csrf` value=csrf)
          input#add-form-add-category(type='text' name='name' placeholder='Новая категория' value=old.create.name required)
          label(for='add-form-add-category')
            span.visually-hidden Добавить категорию
          button.category__button.button.button--category(type='submit') Добавить
        .category__helper #{errors.create.name}
    else 
      .category__add-form
        form(action='/categories' method='POST')
          input(type=`hidden` name=`_csrf` value=csrf)
          input#add-form-add-category(type='text' name='name' placeholder='Новая категория')
          label(for='add-form-add-category')
            span.visually-hidden Добавить категорию
          button.category__button.button.button--category(type='submit') Добавить
    ul.category__list
    - for (category of categories)
        if errors && errors.update && errors.update.id === category.id
          li.category__list-item.category__list-item--invalid
            form(action=`/categories/update/${category.id}` method='POST')
              input(type=`hidden` name=`_csrf` value=csrf)
              input(id=`#modify-form-category-${category.id}` type='text' name='name' value=old.update.name required)
              label(for=`modify-form-category-${category.id}`)
                span.visually-hidden Редактировать категорию
              button.category__button.button.button--category(type='submit') Сохранить
              button.category__button.button.button--category(type='button') Удалить
            .category__helper #{errors.update.name}
        else
          li.category__list-item
            form(action=`/categories/update/${category.id}` method='POST')
              input(type=`hidden` name=`_csrf` value=csrf)
              input(id=`#modify-form-category-${category.id}` type='text' name='name' value=category.name required)
              label(for=`modify-form-category-${category.id}`)
                span.visually-hidden Редактировать категорию
              button.category__button.button.button--category(type='submit') Сохранить
              button.category__button.button.button--category(type='button' data-delete=`/categories/delete/${category.id}`) Удалить
