extends ../layouts/main

block variables
  - let mainClass = `main-page main-page--padding`
  - let wrapperClass = `wrapper--nobackground`

block content
  section.main-page__publication.publication
    h1.publication__title Комментарии
    ul.publication__list
      - for (comment of comments)
          li.publication__list-item
            .publication__header
              if (comment.author.avatar)
                img.publication__list-image(src=comment.author.avatar.orig width='20' height='20' alt=comment.author.name)
              b.publication__list-name #{comment.author.name}
              time.publication__item-time(datetime='2019-03-21T20:33') #{comment.createdAt}
            a.publication__item-text(href=`/articles/${comment.article.id}#comment-${comment.id}`) #{comment.article.title}
            p.publication__text-strong #{comment.text}
            button.publication__button.button.button--close-item(type='button', data-delete=`/my/delete/${comment.article.id}/${comment.id}`)
              span.visually-hidden Закрыть строку списка
    div !{comments.links()}
