extends ../layouts/main.pug

block variables
  - let mainClass = ``

block content
  section.post
    h1.visually-hidden Пост
    section.post__content
      h2.visually-hidden Основное содержание
      .post__wrapper
        .post__head
          a.post__backwards.button.button--backwards(href='#') Назад
          time.post__date(datetime='2019-03-21T20:33') 21.03.2019, 20:33
          h2.post__title.title.title--main #{article.title}
          ul.post__themes.themes
            each category in article.category
              +category(category)
        if article.picture
          .post__picture
            img(src=article.picture.orig alt=article.title)
        if currentUser && currentUser.isEditor 
          a.button.button--colored.mt-15(href=`/articles/edit/${article.id}`) Редактировать
        .post__text
          h3 #{article.title}
          p #{article.fullText}

    
    .post__wrapper.post__wrapper--comments
      section.post__comments.comments
        if article.comments.length > 0
          h2.comments__title.title.title--middle Комментарии
          if article.comments
            ul.comments__list
              each comment in article.comments
                li.comments__comment(id=`comment-${comment.id}`)
                  .comments__avatar.avatar
                    if (article.author.avatar)
                      img(src=article.author.avatar alt=article.author.name)
                  .comments__text
                    .comments__head
                      p #{article.author.name} •
                      time.comments__date(datetime='2019-03-21T20:33') #{article.createdAt}
                    p.comments__message #{comment.text}
        else
          h2.comments__title.title.title--middle Комментарии отсутствуют

        if currentUser
          .comments__footer.comments__footer--user
            form(action=`/articles/${article.id}/comments` method='POST')
              input(type="hidden", name="_csrf", value=csrf)
              input(type="hidden", name="authorId", value=currentUser.id)
              .comments__avatar.avatar
                if currentUser.avatar
                  img(src=currentUser.avatar.orig alt=currentUser.avatar.name)
              label
                textarea(rows='1' name='text' placeholder='Присоединиться к обсуждению')
                if errors && errors.text
                  .comments__helper #{errors.text}
                  
              button.comments__button.button.button--colored(type='submit') Опубликовать
        else
          .comments__footer.comments__footer--visitor
            button.modal-toggle.comments__button.button.button--colored(type='button' data-target='#modalRegister') Войти
            .comments__registration
              p.text.text--signature
                b.title.title--small Регистрация
                | Чтобы присоединиться к переписке нужно зарегистрироваться

